@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-green: #4b5e57;
  --primary-green-variant: #668177;
  --primary-yelow: #f4ce14;
  --primary-yelow-variant: #ebd772;
  --light-green: #e5f1eb;
  --secondary-rose: #ee9972;
  --secondary-rose-variant: #fbdabb;
  --white: rgb(227, 241, 235);
  --transition: transition 1400ms ease-in;
  --lg: 100%;
  --md: 85%;
  --sm: 90%;
}
.container {
  width: 70%;
}

button {
  background: var(--primary-yelow);
  padding: 0.8rem 1rem;
  border-radius: 3rem;
  border: none;
  color: var(--primary-green);
  font-size: 1.5rem;
  font-weight: 600;
}
button:hover {
  background-color: var(--primary-yelow-variant);
  color: var(--primary-green);
  transition: var(--transition);
}
